<!DOCTYPE html>
<html lang="en">
<head>
    <title>Some alternatives</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
    body {
      background:url('Sports.png')
    }
    .card {
      box-shadow:rgba(68, 68, 68,0.2) 3px 3px 1px 0px;
    }
    </style>
</head>
<body>
  <div class="container">

    <div class="row justify-content-md-center ">
      <div class="col-6">


  <div class="card m-4">
    <div class="card-header">
      <h5>Some alternatives to ifttt</h5>
    </div>
      <div id="navigation" class="list-group list-group-flush">
      
          <a class="list-group-item justify-content-between" href="#">zapier

              <span class="badge badge-default badge-pill">129</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">tasker

              <span class="badge badge-default badge-pill">94</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">huginn

              <span class="badge badge-default badge-pill">38</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">microsoft-flow

              <span class="badge badge-default badge-pill">16</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">integromat

              <span class="badge badge-default badge-pill">21</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">skyvia

              <span class="badge badge-default badge-pill">88</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">rclone

              <span class="badge badge-default badge-pill">27</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">bipio

              <span class="badge badge-default badge-pill">22</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">cloudhq

              <span class="badge badge-default badge-pill">22</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">automate-io

              <span class="badge badge-default badge-pill">10</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">we-wired-web

              <span class="badge badge-default badge-pill">10</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">wappwolf-automator

              <span class="badge badge-default badge-pill">18</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">hooks

              <span class="badge badge-default badge-pill">8</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">ellp

              <span class="badge badge-default badge-pill">4</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">feedmyinbox

              <span class="badge badge-default badge-pill">4</span>
          </a>
      
    </div>
  </div>
  </div>
  </div>
  </div>

</body>
</html>