<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
    body {
      background:url('Sports.png')
    }
    .card {
      box-shadow:rgba(68, 68, 68,0.2) 3px 3px 1px 0px;
    }
    </style>
</head>
<body>
  <div class="container">

    <div class="row justify-content-md-center ">
      <div class="col-6">


  <div class="card m-4">
    <div class="card-header">
      <h5>Some alternatives to </h5>
    </div>
      <div id="navigation" class="list-group list-group-flush">
      
          <a class="list-group-item justify-content-between" href="#">atom

              <span class="badge badge-default badge-pill">784</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">visual-studio-code

              <span class="badge badge-default badge-pill">300</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">eclipse

              <span class="badge badge-default badge-pill">987</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">visual-studio

              <span class="badge badge-default badge-pill">706</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">pycharm-community-edition

              <span class="badge badge-default badge-pill">102</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">qt-creator

              <span class="badge badge-default badge-pill">54</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">light-table

              <span class="badge badge-default badge-pill">48</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">idle

              <span class="badge badge-default badge-pill">30</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">komodo-ide

              <span class="badge badge-default badge-pill">45</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">pydev

              <span class="badge badge-default badge-pill">10</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">pyscripter

              <span class="badge badge-default badge-pill">21</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">winpython

              <span class="badge badge-default badge-pill">7</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">keypress-editor

              <span class="badge badge-default badge-pill">8</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">iep

              <span class="badge badge-default badge-pill">11</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">thonny

              <span class="badge badge-default badge-pill">5</span>
          </a>
      
    </div>
  </div>
  </div>
  </div>
  </div>

</body>
</html>