<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
    body {
      background:url('Sports.png')
    }
    .card {
      box-shadow:rgba(68, 68, 68,0.2) 3px 3px 1px 0px;
    }
    </style>
</head>
<body>
  <div class="container">

    <div class="row justify-content-md-center ">
      <div class="col-6">


  <div class="card m-4">
    <div class="card-header">
      <h5>Some alternatives to </h5>
    </div>
      <div id="navigation" class="list-group list-group-flush">
      
          <a class="list-group-item justify-content-between" href="#">java

              <span class="badge badge-default badge-pill">513</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">c-programming-language-

              <span class="badge badge-default badge-pill">237</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">cpp

              <span class="badge badge-default badge-pill">228</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">ruby

              <span class="badge badge-default badge-pill">219</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">c--programming-language-

              <span class="badge badge-default badge-pill">154</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">go-programming-language-

              <span class="badge badge-default badge-pill">80</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">r-project

              <span class="badge badge-default badge-pill">144</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">lua

              <span class="badge badge-default badge-pill">126</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">haskell

              <span class="badge badge-default badge-pill">50</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">perl

              <span class="badge badge-default badge-pill">109</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">scala

              <span class="badge badge-default badge-pill">56</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">d

              <span class="badge badge-default badge-pill">43</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">dart

              <span class="badge badge-default badge-pill">57</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">julia

              <span class="badge badge-default badge-pill">36</span>
          </a>
      
          <a class="list-group-item justify-content-between" href="#">nim-programming-language

              <span class="badge badge-default badge-pill">18</span>
          </a>
      
    </div>
  </div>
  </div>
  </div>
  </div>

</body>
</html>